.home-title {
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
  }

  @media (min-width: 768px) {
    .home-title{
      font-size: 4.5rem;
    }
  }

  .home-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  @media (min-width: 768px) {
    .home-subtitle {
      font-size: 2.5rem;
    }
  }

  .contact-clean {
    background: #f1f7fc;
    padding: 80px 0;
  }
  
  .contact-clean form {
    background-color: #ffffff;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  